# =============== #
# Unity generated #
# =============== #
HorizonElite/Temp/
HorizonElite/Obj/
HorizonElite/UnityGenerated/
HorizonElite/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
HorizonElite/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db